<html>
<head>
    <meta charset="UTF-8"/>
    <title>GNOME Account Password Reset</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://static.gnome.org/css/fonts.css" media="all" rel="stylesheet" type="text/css"/>
</head>
<body style="margin: 0; padding: 0; font-family: 'Source Sans Pro', sans-serif;">
<table role="presentation" cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <td>
            <table align="center" cellpadding="15px" cellspacing="0" width="600" style="border-collapse: collapse;">
                <tr>
                    <td bgcolor="#4295DB" style="padding: 20px;">
                        <img src="https://static.gnome.org/img/gnome-logo.svg"
                             alt="GNOME Logo"
                             width="100px"
                             style="display: block;"
                        />
                    </td>
                </tr>
                <tr>
                    <td bgcolor="white" align="center" height="300px">
                        <table align="center" cellpadding="15px" cellspacing="0" width="500"
                               style="border-collapse: collapse;">
                            <tr>
                                <td bgcolor="white" align="center">
                                    <p style="margin: 0;">Please click <a
                                            href="https://password.gnome.org/reset/{{ token }}"
                                            style="text-decoration: none; color: #4295DB">here</a> to reset your
                                        password.
                                    </p>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td bgcolor="black" height="20px">
                        <p style="margin: 0; color: #CCCCCC; font-size: 10pt">©
                            <a href="https://www.gnome.org" style="text-decoration: none; color: white;">
                                The GNOME Foundation
                            </a>
                        </p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>