<html>
<head>
    <meta charset="UTF-8"/>
    <title>GNOME Account Password Reset</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://static.gnome.org/css/fonts.css" media="all" rel="stylesheet" type="text/css"/>
</head>
<body style="margin: 0; padding: 0; font-family: 'Source Sans Pro', sans-serif;">
<table role="presentation" cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <td>
            <table align="center" cellpadding="15px" cellspacing="0" width="600" style="border-collapse: collapse;">
                <tr style="border-left: 1px solid #4295DB;border-right: 1px solid #4295DB;">
                    <td bgcolor="#4295DB" style="padding: 20px;">
                        <img src="cid:image1"
                             alt="GNOME Logo"
                             width="110px"
                             style="display: block;"
                        />
                    </td>
                </tr>
                <tr style="border-left: 1px solid #ccc;border-right: 1px solid #ccc;">
                    <td bgcolor="white" align="center" style="height: fit-content;padding: 60px 0 80px 0;">
                        <table align="center" cellpadding="15px" cellspacing="0" width="500"
                               style="border-collapse: collapse;">
                            <tr>
                                <td bgcolor="white" align="center">
                                    <img src="cid:image2"
                                         alt="Locked Symbol"
                                         width="100px"
                                    />
                                    <h1 style="color: #4a86cf;font-weight: 400;font-size: 28pt;margin:0">
                                        Forgot your password?
                                    </h1>
                                    <h3 style="color: #58595B;font-weight: 400;font-size: 16pt;margin-top:10px">
                                        Let's get you a new one!
                                    </h3>
                                    <p style="margin: 0;">
                                        Use the link below to change the password for your GNOME account.
                                        If you did not request to reset your password,
                                        ignore this request and the link will expire.
                                    </p>
                                    <a href="https://password.gnome.org/reset/{{ token }}"
                                       style="padding: 6px 30px;font-size: 18px;line-height: 1.33333;border-radius: 6px;color: #fff;background-color: #4a86cf;border: 1px solid #3679ca;display: block;width: fit-content;margin-top: 20px;text-decoration: none;">
                                        Reset password
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr style="border-left: 1px solid black;border-right: 1px solid black;">
                    <td bgcolor="black" height="20px">
                        <p style="margin: 0; color: #CCCCCC; font-size: 10pt">©
                            <a href="https://www.gnome.org" style="text-decoration: none; color: white;">
                                The GNOME Foundation
                            </a>
                        </p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>
